<body>
  <link rel="stylesheet" href="/css/ticket-selling-point_styles.css">
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet' />
  <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <nav>
      <div class="logo"> Urban Bus </div>
      <ul>
        <li>
          <a href="/home">Αρχική</a>
        </li>
        <li>
          <a href="/lines">Δρομολόγια</a>
        </li>
        <li>
          <a href="/ticket-selling-points">Εκδοτήρια</a>
        </li>
        <li>
          <a href="/tickets">Εισιτήρια - Κάρτες</a>
        </li>
        <li>
          <a href="/info">Πληροφορίες</a>
        </li>
        <li class={{role}},{{name}} id={{loggedUserId}}>
          <img src="sign_in.png" id="0" alt="placeholder" class="sign-in">
        </li>
      </ul>
    </nav>
    <div class="content">
      <div class="places">
        <h2>Σημεία πώλησης εισιτηρίων</h2>
        {{#each data}}
          <div class="r"> <span id="a"><p>{{this.address}}</p></span> <span id="b"><table><tr>{{this.time.[0]}}</tr><br><tr>{{this.time.[1]}}</tr></table></span></div>
        {{/each}}
        </div>
      <div id="map-container"></div>
    </div>
  <script src="ticket-selling-point.mjs"></script>
  </body>
